<h1>Rock, Paper, Scissors, Lizard, Spock!</h1>

<h2>select game to play?</h2>

<form action="/rockpaperscissors/result">
<div class="selection_options" >
  <label for="rock" name="user_answer">Rock 
</label>
  <input type="radio" name="user_answer" id="rock" value="rock"><br>
</div>
<div class="selection_options" >
  <label for="paper">Paper</label>
  <input type="radio" name="user_answer" id="paper" value="paper"><br>
</div>
<div class="selection_options" >
    <label for="scissors">Scissors</label>
  <input type="radio" name="user_answer" id="scissors" value="scissors"><br>
</div>
<div class="selection_options" >
  <label for="lizard">Lizard</label>
  <input type="radio" name="user_answer" id="lizard" value="lizard"><br>
</div>
<div class="selection_options" >
  <label for="spock">Spock </label>
  <input type="radio" name="user_answer" id="spock" value="spock"><br>
</div>

  <input type="submit" value="Submit">
</form>