<h1>Magic 8 Ball</h1>

<h2>Please enter a question?</h2>

<form action='/magic8ball/result'>
	<input type="text" name="result" placeholder="Should I buy a cat today?" size="60">
	<button>Magic</button>

</form>