<!-- <h1>Welcome to Games</h1>
<h2><a href="/home">Home</a></h2>
<h2><a href="/about">About</a></h2>
<h2><a href="/magic8ball">Magic 8 ball</a></h2>
<h2><a href="/rockpaperscissors">Rock Paper Scissors</a></h2>
<h2><a href="/secretnumber">Secret number</a></h2> -->